<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="static/features.js" defer></script>
  <title>Features</title>
  <link rel="icon" href="logo.ico">
  <link rel="stylesheet" href="static/styles/features.css">
  <link rel="stylesheet" href="static/styles/style.css">
  <script src="https://kit.fontawesome.com/a08d56a4cb.js" crossorigin="anonymous"></script>
  <style>
    home-button {
    background-color: #D4B4FF;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    left: 285px; /* Move the button slightly to the right */
    top: 20px;  /* Set a distance from top */
    transition: background-color 0.3s;
}
  </style>
</head>
<header>
  <nav class="navbar">
      <div class="logo cute-logo">
        <a href="/">
 
          <span class="logo-text">PetLive</span>
        </a>
      </div>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/chat">VetBot</a></li>
        <li><a href="/train">Train</a></li>
        <li><a href="/identify">Identify</a></li>
      </ul>
      <div class="buttons">
        {% if logged_in %}
          <a href="/logout"><input type="button" value="Logout"></a>
        {% else %}
          <a href="/login"><input type="button" value="Login"></a>
          <a href="/signup"><input type="button" value="Register"></a>
        {% endif %}
      </div>
    </nav>
  <body>
  
  <div class="loader-overlay">
    <div class="loader"></div>
  </div>
  <div id="cards">
    <a href="/calendar" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-bowl-food"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-bowl-food"></i>
            <div class="card-info-title">
              <h3>Diet Tracker</h3>
              <h4>Track your pet's eating habits on a daily basis!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/med" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-prescription-bottle-medical"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-prescription-bottle-medical"></i>
            <div class="card-info-title">
              <h3>Medication Reminder</h3>
              <h4>Never forget to give your pet its medication and in the correct doses!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/train" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-paw"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-paw"></i>
            <div class="card-info-title">
              <h3>Training</h3>
              <h4>Find a personalized training video for your pet!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/vaccination" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-syringe"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-syringe"></i>
            <div class="card-info-title">
              <h3>Vaccination Tracker</h3>
              <h4>Keep track of your pet's vaccination doses and their dates!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/identify" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-dog"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-dog"></i>
            <div class="card-info-title">
              <h3>Dog Breed Identifier</h3>
              <h4>Can't figure out the breed of a stray or lost dog? We got your back!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="/chat" class="card">
      <div class="card-content">
        <div class="card-image">
          <i class="fa-solid fa-shield-dog"></i>
        </div>
        <div class="card-info-wrapper">
          <div class="card-info">
            <i class="fa-solid fa-shield-dog"></i>
            <div class="card-info-title">
              <h3>Your AI Vet</h3>
              <h4>A personalized AI Vet that will help you with basic doubts and questions related to your pet's health!</h4>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <script>
    document.addEventListener("mousemove", (e) => {
      document.querySelectorAll(".card").forEach((card) => {
        const rect = card.getBoundingClientRect();
        card.style.setProperty("--mouse-x", `${e.clientX - rect.left}px`);
        card.style.setProperty("--mouse-y", `${e.clientY - rect.top}px`);
      });
    });

    window.addEventListener("load", () => {
      setTimeout(() => {
        document.body.classList.add("loaded");
      }, 250);
    });
  </script>
</body>
</header>

</html>